@{
    ViewBag.Title = "Team MAAD - Team";
}
<section id="main-content">
    <section class="wrapper site-min-height">        
        <div class="row mt">
            <div class="col-lg-12">
                <h3><i class="fa fa-users"></i> Il team</h3>
                <div class="jumbotron">
                    <p>
                        Il team è composto da studenti del 1° anno del corso "Tecnico Superiore per l' Intelligent Data Analisys" dell'istituto tecnico superiore ITS Kennedy di Pordenone(PN).
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-3 mb">
                        <div class="content-panel pn">
                            <div id="profile-01">
                                <div class="user">
                                    <img src="/img/pr1.jpg" class="img-circle" width="80">
                                    <h4>Mauro Valerio</h4>
                                </div>
                            </div>
                            <div class="pr2-social centered">
                                <a href="https://www.facebook.com/maurovalerio19"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/Mau19"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div><!-- /col mau -->
                    <div class="col-lg-3 col-md-6 col-sm-3 mb">
                        <div class="content-panel pn">
                            <div id="profile-02">
                                <div class="user">
                                    <img src="/img/pr2.jpg" class="img-circle" width="80">
                                    <h4>Angelo Calabria</h4>
                                </div>
                            </div>
                            <div class="pr2-social centered">
                                <a href="https://www.facebook.com/angelo.w.calabria"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/Angelo94"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div><!-- /col angelo-->
                    <div class="col-lg-3 col-md-6 col-sm-3 mb">
                        <div class="content-panel pn">
                            <div id="profile-03">
                                <div class="user">
                                    <img src="/img/pr3.jpg" class="img-circle" width="80">
                                    <h4>Alessio Cozzolino</h4>
                                </div>
                            </div>
                            <div class="pr2-social centered">
                                <a href="https://www.facebook.com/ohmygodlol"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/Alex0494"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div><!--/ col alessio -->
                    <div class="col-lg-3 col-md-6 col-sm-3 mb">
                        <div class="content-panel pn">
                            <div id="profile-04">
                                <div class="user">
                                    <img src="/img/pr4.jpg" class="img-circle" width="80">
                                    <h4>Daniela Vulcan</h4>
                                </div>
                            </div>
                            <div class="pr2-social centered">
                                <a href="https://www.facebook.com/vulcan.daniela"><i class="fa fa-facebook"></i></a>
                                <a href="https://github.com/Crenguta"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div><!-- /col daniela -->
                </div><!-- /row -->
            </div><!-- /col-12 -->
        </div> <!-- /row -->
    </section><!-- /wrapper -->
</section><!-- /MAIN CONTENT -->